In [23]:
# step 1

# Import Splinter and BeautifulSoup

from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [10]:
# step 2 

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
# step 3 

# Visit the mars nasa news site

url = 'https://redplanetscience.com'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [12]:
# step 4

html = browser.html

news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')

#This means that this element holds all of the other elements
#within it, and we'll reference it when we want to filter search
#results even further.

In [13]:
# step 5

slide_elem.find('div', class_='content_title')

#The output should be the HTML containing the content title
#and anything else nested inside of that <div />

In [14]:
#Step 6

# Use the parent element to find the first `a` tag and save it as `news_title`

news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

#The code above, for example, would return only the title of
#the news article and not any of the HTML tags or elements.

'Mars Is Getting a New Robotic Meteorologist'

In [15]:
## look above by chaining the .get_text() to our find
# only the text of the element is returned

In [17]:
# Step 8

# Grab only the article for this title
# Use the parent elemeent to find the para txt

new_s = slide_elem.find('div' , class_ = 'article_teaser_body').get_text()
new_s

"Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles."

# **10.3.4 Scrape Mars Data: Featured Image**

### Featured Images

In [18]:
# Visit URL

url = 'https://spaceimages-mars.com'
browser.visit(url)

In [19]:
# Find and click the full image button

full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [20]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [21]:
# Find the relative image url

img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [22]:
# add the partial link to the rest of the url

img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## *10.3.5 Scrape Mars Data:Mars Facts*

In [24]:
#Scrape Mars table with pandas read html

df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [25]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
browser.quit()